{% extends 'base.html.twig' %}

{% block title %}Edit Monnaie{% endblock %}

{% block body %}
    <h1>Edition de la  Monnaie</h1>
 <div class="m-5"style="margin-right: 15%;margin-left: 15%">
     <div class="centerText  col-mb-3 mr-2 card  shadow p-3 mb-5  rounded" style="margin-top: 10px; background-color: beige;" >


    {{ include('monnaie/_form.html.twig', {'button_label': 'Modifier'}) }}
     </div>


    {{ include('monnaie/_delete_form.html.twig') }}
 </div>
     {% endblock %}
