{% extends 'base.html.twig' %}

{% block title %}Edition d'un  Equipement{% endblock %}

{% block body %}
    <h1 class="text-center">Editer un  Equipement</h1>
<div class="mb-5 mt-5" style="margin-right: 15%;margin-left: 15%">

    <div class="centerText  col-mb-3 mr-2 card  shadow p-3 mb-5  rounded" style="margin-top: 10px; background-color: beige;" >

    {{ include('equipement/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
    <div class="row " >
    <a class=" mr-1 btn btn-primary" href="{{ path('equipement_index') }}">
        <i class="fas fa-backward"></i>
    </a>

    {{ include('equipement/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
