{% extends 'base.html.twig' %}

{% block title %}New Armure{% endblock %}

{% block body %}
    <h1>Create new Armure</h1>

    {{ include('armure/_form.html.twig') }}

    <a href="{{ path('armure_index') }}">back to list</a>
{% endblock %}
