<form method="post" action="{{ path('capacite_racial_delete', {'id': capacite_racial.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ capacite_racial.id) }}">
    <button class="btn">Delete</button>
</form>
