{% extends 'base.html.twig' %}

{% block title %}New Guilde{% endblock %}

{% block body %}
    <h1>Create new Guilde</h1>

    {{ include('guilde/_form.html.twig') }}

    <a href="{{ path('guilde_index') }}">back to list</a>
{% endblock %}
