<form method="post" action="{{ path('materiel_delete', {'id': materiel.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce matériel?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materiel.id) }}">
    <button class="btn btn-primary">
        <i class="fas fa-trash-alt"></i>
    </button>
</form>
