<form method="post" action="{{ path('compagnon_delete_link', {'id': compagnon.id ,'idPersonnage':personnage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="POST">
    {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compagnon.id) }}">#}
    <button class="btn">Delete</button>
</form>
