{% extends 'base.html.twig' %}

{% block title %}New RangGuilde{% endblock %}

{% block body %}
    <h1>Create new RangGuilde</h1>

    {{ include('rang_guilde/_form.html.twig') }}

    <a href="{{ path('personnage_rang_guilde_index',{'idPersonnage':personnage.id}) }}">back to list</a>
{% endblock %}
