<form method="post" action="{{ path('type_des_delete', {'id': type_de.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce Dé?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_de.id) }}">
    <button class="btn btn-primary">
        <i class="fas fa-trash-alt"></i>
    </button>
</form>
