{% extends 'base.html.twig' %}

{% block title %}Edit TypeMagie{% endblock %}

{% block body %}
    <h1>Edit TypeMagie</h1>

    {{ include('type_magie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_magie_index') }}">back to list</a>

    {{ include('type_magie/_delete_form.html.twig') }}
{% endblock %}
