<!-- Footer -->
<footer  class=" footer page-footer font-small bg-primary navbar-bottom mt-5"  >

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> <span style="color: green;"> Baldini Dylan & Tomasini Owen © 2018-2019  </span>
        <a href="http://www.insset.u-picardie.fr/" target="_blank">Licence Pro Conception et Développement d’Application Web et Mobile</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

