{% extends 'base.html.twig' %}

{% block title %}Edit NiveauMetier{% endblock %}

{% block body %}
    <h1>Edit NiveauMetier</h1>

    {{ include('niveau_metier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('niveau_metier_index') }}">back to list</a>

    {{ include('niveau_metier/_delete_form.html.twig') }}
{% endblock %}
