{% extends 'base.html.twig' %}

{% block title %}New NiveauMetier{% endblock %}

{% block body %}
    <h1>Create new NiveauMetier</h1>

    {{ include('niveau_metier/_form.html.twig') }}

    <a href="{{ path('personnage_niveau_metier_index',{'idPersonnage':personnage.id}) }}">Retour</a>
{% endblock %}
