{% extends 'base.html.twig' %}

{% block title %}New InventaireArmure{% endblock %}

{% block body %}
    <h1>Create new InventaireArmure</h1>

    {{ include('inventaire_armure/_form.html.twig') }}

    <a href="{{ path('inventaire_armure_index') }}">back to list</a>
{% endblock %}
