{% extends 'base.html.twig' %}

{% block title %}Edit TypeRace{% endblock %}

{% block body %}
    <h1>Edit TypeRace</h1>

    {{ include('type_race/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_race_index') }}">back to list</a>

    {{ include('type_race/_delete_form.html.twig') }}
{% endblock %}
