
<div class="  card  shadow p-2 mb-5  rounded"  style=" background-color: beige;">
    <p><a href="#">Creér une partie </a></p>
</div>

<div class="row">
    {#Magie#}
    <div class=" ">

        <div class="col-mb-3 mr-2 ">
            <div class="card mb-4 shadow p-2 mb-5  rounded " style=" background-color: beige;">
                <div class="card-body">
                    <div class="card-title">
                        Magie
                    </div>
                    <div class="card-text">
                        <ul>
                            <li><a href="#"></a>Liste des magies</li>
                            <li><a href="#"></a>Catégorie des magies</li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>


    </div>
{#Talent#}
    <div class="   ">


        <div class="col-mb-3 mr-2 ">
            <div class="card mb-4 shadow p-2 mb-5  rounded " style=" background-color: beige;">
                <div class="card-body">
                    <div class="card-title">
                        Talents
                    </div>
                    <div class="card-text">
                        <ul>
                            <li><a href="#"></a>Liste des talents</li>
                            <li><a href="#"></a>Catégorie des talents</li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>


    </div>


{#Armure#}

    <div class="   ">


        <div class="col-mb-3 mr-2 ">
            <div class="card mb-4 shadow p-2 mb-5  rounded " style=" background-color: beige;">
                <div class="card-body">
                    <div class="card-title">
                        Armure
                    </div>
                    <div class="card-text">
                        <ul>
                            <li><a href="#"></a>Liste des talents</li>
                            <li><a href="#"></a>Catégorie des talents</li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>


    </div>

    {#Arme#}
    <div class="   ">


        <div class="col-mb-3 mr-2 ">
            <div class="card mb-4 shadow p-2 mb-5  rounded " style=" background-color: beige;">
                <div class="card-body">
                    <div class="card-title">
                        Armes
                    </div>
                    <div class="card-text">
                        <ul>
                            <li><a href="#"></a>Liste des talents</li>
                            <li><a href="#"></a>Catégorie des talents</li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>


    </div>

</div>