<h1 class="text-center">

Bonjour {{ joueur.username }}

</h1>


<div class=" centerText container-fluid">
   <p>{{ partie.utilisateur.username }} vous invite a participer a sa partie de JDR : <a href="{{ url('choix_personnage_new',{'idPartie': partie.id,'idUser':joueur.id,'idInvitation':invitation.id}) }}" target="_blank">
           lien
       </a>
   </p>

</div>